<nav class="bg-white shadow-lg flex justify-between">
  <!-- Website Logo -->
  <div class="justify-self-center">
    <a href="#" class="flex items-center py-4 px-10">
      <img src="assets/images/logo.png" alt="Logo" class="h-8 w-8 mr-2" />
      <span class="font-semibold text-gray-500 text-lg">Charevent</span>
    </a>
  </div>

  <!-- Navbar items -->
  <div class="hidden md:flex items-center space-x-2 justify-self-center px-10">
    <a
      href=""
      class="font-semibold text-gray-500/90 py-2 px-2 rounded-xl transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-gray-500/90 duration-300 hover:text-white hover:shadow-gray-500/45 hover:drop-shadow-lg"
      >Se connecter</a
    >
    <a
      href=""
      class="font-semibold text-gray-500/90 py-2 px-2 rounded-xl transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-gray-500/90 duration-300 hover:text-white hover:shadow-gray-500/45 hover:drop-shadow-lg"
      >Inscription</a
    >
  </div>
</nav>
